*{
    box-sizing: border-box;
    position: relative;
}
a{
    text-decoration: none;
}
.bg-image{
    width: 400px;
    height: 300px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}
.logo{
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 48px;
    border: 1px solid #000;
    background-image: url(../image/glasses.jpg);
    background-size: contain;
    background-repeat:no-repeat ;
    white-space: nowrap;
    text-indent: 120px;
    overflow: hidden;

}
.logo2 img{
    height: 48px;
}
.outter{
    width: 50%;
    border: 1px solid #000;
}
/* .image-container {
    aspect-ratio: 4/3;
    width: 400px;

  } */
.image-container{
    width: 100%;
    border: 4px solid #ff0000;
}
.image-container::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 75%;
    border: 4px solid #00ff88;

}
 .image-container .img{
    background-image: url(../image/airplane.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #3700ff;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


